// Colors

$blue:   #51ddfc;
$baby-blue: #7ee6fd;
$fountain-blue: #4DA2BB;
$light-red: #e4757a;
$purple: #927bc1;
$green: #63cc82;
$lighter-green: #88d9a0;
$lightest-green: #58e1c1;
$riptide: #80e8d1;
$viking: #58e1c1;
$orange: #fd7856;
$gray: #777;
$pink: #deb2ee;
$sea-pink: #ec9fa3;
$vivid-tangerine: #FD9F85;
$silver: #cccccc;
$white: #ffffff;

// Sizes: Refer to mixin file
